@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.login-form {
    position: relative;
    height: 100vh;
    z-index: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("admin.jpg") no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 800px;
    margin: 100px auto;
}
.login-form h2 {
    line-height: 35px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    color: #272346;
    text-align: center;
}
.login-form .main {
    position: relative;
    display: flex;
    margin: 20px 0;
}
.content {
    flex-basis: 50%;
    padding: 3em 3em;
    background: whitesmoke;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.form-img {
    flex-basis: 50%;
    background: #dfe5ea;
    background-size: cover;
    padding: 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    display: flex;
}
.form-img img {
    max-width: 100%;
    min-height: 100%;
}
.btn, button, .input-field {
    border-radius: 35px;
}
.btn:hover {
    color: #2c2755;
    transition: 0.5s ease;
}
.login-form form {
    margin: 30px 0;
}
.login-form .input-field {
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #777272;
    text-align: left;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #f7fafc;
    transition: 0.3s ease;
}
.login-form .input-field:focus {
    background: transparent;
    border: 1px solid #4e34b6;
}
form .show-pwd {
    margin-left: 8px;
    margin-bottom: 25px;
}
form span {
    margin-left: 5px;
    font-size: 14px;
    color: #272346;
}
.login-form button {
    width: 100%;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("admin.jpg") no-repeat;
    background-size: 100%;
    background-position: center;
    border: none;
    padding: 14px 15px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s ease;
}
@media (max-width: 736px) {
    .login-form .main {
        flex-direction: column;
    }
    .login-form form {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .form-img {
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content {
        order: 1;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}